<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 m-auto">
            <p class="successMsg mt-4" *ngIf="deleteMsg?.length">{{deleteMsg}}</p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Color</th>
                        <th scope="col">Price</th>
                        <th scope="col">Decription</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of productList">
                        <td class="product-img"><img src="{{product.img_url}}" alt=""></td>
                        <td>{{product.p_name}}</td>
                        <td>{{product.p_category}}</td>
                        <td>{{product.p_color}}</td>
                        <td>{{product.p_price}}</td>
                        <td>{{product.p_description}}</td>
                        <td>
                            <span class="fa fa-trash me-4" (click)="deleteProduct(product.id)"></span>
                            <span class="fa fa-edit" routerLink="/seller-update-product/{{product.id}}"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>